[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=setup-network-environment.service etcd2.service generate-serviceaccount-key.service
After=setup-network-environment.service etcd2.service generate-serviceaccount-key.service

[Service]
EnvironmentFile=/etc/network-environment
ExecStartPre=/opt/bin/wupiao 127.0.0.1:2379/v2/machines
ExecStart=/opt/bin/kube-apiserver \
  --service-account-key-file=/opt/bin/kube-serviceaccount.key \
  --service-account-lookup=false \
  --admission-control=NamespaceLifecycle,NamespaceAutoProvision,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
  --runtime-config=api/v1 \
  --allow-privileged=true \
  --insecure-bind-address=0.0.0.0 \
  --insecure-port=8080 \
  --kubelet-https=true \
  --secure-port=6443 \
  --service-cluster-ip-range=10.160.0.0/16 \
  --etcd-servers=http://127.0.0.1:2379 \
  --bind-address=${DEFAULT_IPV4} \
  --logtostderr=true
Restart=always
RestartSec=10
