[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kube-apiserver.service
After=kube-apiserver.service

[Service]
ExecStart=/opt/bin/kube-controller-manager \
  --service-account-private-key-file=/opt/bin/kube-serviceaccount.key \
  --master=127.0.0.1:8080 \
  --logtostderr=true
Restart=always
RestartSec=10

